body{
    font-family: sans-serif;
    margin: 0;
}

div h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-family: 'Viga', sans-serif;
    color:black;
    font-size: 30px;
}

h1{
    font-family: 'Viga', sans-serif;
    color:black;
    font-size: 30px;
}


h2{
    font-family:'Viga', sans-serif;
}

a{
    text-decoration: none;
    color:black ;
    font-family:'Viga', sans-serif; 
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(245, 245, 245);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
}

.logo img{
    height: 50px;
}

nav a{
    font-weight: 600;
    padding: 10px;
    font-family:'Viga', sans-serif;;

}

nav a:hover{
    color:rgb(21, 112, 187);
}



.elige{
    display: flex;
    justify-content: center;
}

.contenedor{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(6, 150px);
    margin: auto;
    max-width: 90%;
    padding: 3rem 0;
}



.contenedor .f1{
    background-image: url(../imagenes/original1.webp);
    background-position: center;
    background-size: cover;
    grid-row: 1/4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contenedor .f1:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.contenedor .f2{
    background-image: url(../imagenes/original2.webp);
    background-position: center;
    background-size: cover;
    grid-row: 1/4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .f2:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.contenedor .f3{
    background-image: url(../imagenes/original3.webp);
    background-position: center;
    background-size: cover;
    grid-row: 1/4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .f3:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}



.contenedor .f4{
    background-image: url(../imagenes/original4.webp);
    background-position: center;
    background-size: cover;
    grid-row: 4/7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .f4:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.contenedor .f5{
    background-image: url(../imagenes/original5.webp);
    background-position: center;
    background-size: cover;
    grid-row: 4/7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .f5:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.contenedor .f6{
    background-image: url(../imagenes/orginal6.webp);
    background-position: center;
    background-size: cover;
    grid-row: 4/7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .f6:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}



.pie-pagina{
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin-top: 100px;

}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.box{
    grid-column: 2/3;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
}


