body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(../imagenes/fondo\ soporte.jpeg);
    background-size: cover;
}

div h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-family: 'Viga', sans-serif;
    color:black;
    font-size: 30px;
}

h1{
    font-family: 'Viga', sans-serif;
    color:black;
    font-size: 30px;
}



h2{
    font-family:'Viga', sans-serif;
}

a{
    text-decoration: none;
    color:black ;
    font-family:'Viga', sans-serif; 
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(245, 245, 245);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
}

.logo img{
    height: 50px;
}

nav a{
    font-weight: 600;
    padding: 10px;
    font-family:'Viga', sans-serif;;

}

nav a:hover{
    color:rgb(21, 112, 187);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.form-soporte{
    width: 400px;
    background-color:black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'Viga', sans-serif ;
    color: white;
}

.form-soporte h3{
    color:white ;
    font-size: 22px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.control{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.boton{
    width: 100%;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}



.pie-pagina{
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin-top: 100px;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.box{
    grid-column: 2/3;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
}

@media (max-width: 420px) {
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}